<%=form_tag "/tutorials", method: :post do %>

<ul>
  <li>
    <%= label_tag :title %>
    <%= text_field_tag :title, @tutorial.title %>
  </li>
  <li>
    <%= label_tag :description %>
    <%= text_field_tag :description, @tutorial.description %>
  </li>
  <li>
    <%= label_tag :tutorial_type %>
    <%= text_field_tag :tutorial_type, @tutorial.tutorial_type %>
  </li>
  <li>
    <%= label_tag :weights %>
    <%= check_box :terms_of_service, @tutorial.weights %>
  </li>
  <li>
    <%= label_tag :equipment %>
    <%= text_field_tag :equipment, @tutorial.equipment %>
  </li>
  <li>
    <%= label_tag :equipment_description %>
    <%= text_field_tag :equipment_description, @tutorial.equipment_description %>
  </li>
  <li>
    <%= label_tag :experience %>
    <%= text_field_tag :experience, @tutorial.experience %>
  </li>
</ul>
       <div style="text-align: center; font-size: 100%;"><%= submit_tag "Save New Tutorial!" %></div> 