 <section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="tutorial_single">
            <h2>This is my <%= @tutorial.title %> workout!</h2>
            <h2>Description: <%= @tutorial.description %></h2>
            <p>Severity: <%= @tutorial.severity %></p>
            <p>Type: <%= @tutorial.tutorial_type %></p>
            <p>Experience: <%= @tutorial.experience %></p> 
            <p>Weights?: <%= @tutorial.weights %></p>
            <p>Equipment needed: <%= @tutorial.equipment %></p>
            <% @tutorial.images.each do |image| %>
            <img src="<%= image.url %>" alt="<%= @tutorial.title %>" class="img-responsive">
            <% end %>

            <p>Description: <%= @tutorial.description %></p>
            <% end %>

            <% if current_user && current_user.admin %>
              <%= link_to "Edit", "/tutorials/#{@tutorial.id}/edit", class: "btn btn-success" %>
              <%= link_to "Delete", "/tutorials/#{@tutorial.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>
       </div>
</section>
  <!--  create_table "tutorials", force: :cascade do |t|
    t.text     "description"
    t.string   "severity"
    t.string   "tutorial_type"
    t.string   "title"
    t.boolean  "weights"
    t.string   "experience"
    t.integer  "video_id"
    t.integer  "post_id"
    t.integer  "profile_id"
    t.datetime "created_at",    null: false
    t.datetime "updated_at",    null: false
    t.string   "equipment" -->

