<!-- 
  <header class="main-header">
  <nav class="uk-navbar main-nav-wellness">
        <div class="uk-container uk-container-center">
          <a href="home_wellness.html" class="uk-navbar-brand"><img src="http://i3.cpcache.com/product/755897127/never_quit_workout_logo_mousepad.jpg?height=460&width=460&qv=90" alt="main-logo"></a> -->
          <!-- main-menu -->
  <!--         <ul class="uk-navbar-nav uk-visible-large uk-float-right">
            <li  class="uk-parent" data-uk-dropdown>
              <a href="#">home<i class="uk-icon-plus"></i></a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                  <li><a href="/tutorials/home">HOME</a></li>
                  <li><a href="home_sport.html">home sport</a></li>
                  <li><a href="home_yoga.html">home yoga</a></li>
                </ul>
              </div>
            </li>
            <li><a href="about_wellness.html">about</a></li>
            <li class="uk-parent" data-uk-dropdown>
              <a href="#">classes<i class="uk-icon-plus"></i></a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                  <li><a href="classes_wellness.html">all classes</a></li>
                  <li><a href="classes_description_wellness.html">class description</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/events">events</a></li>
            <li class="uk-parent" data-uk-dropdown>
              <a href="#">blog<i class="uk-icon-plus"></i></a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                  <li><a href="blog_wellness.html">blog fullwidth</a></li>
                  <li><a href="single_post_wellness.html">blog single post</a></li>
                </ul>
              </div>
            </li>
            <li><a href="contact_wellness.html">contact</a></li>
            <li class="uk-parent" data-uk-dropdown>
              <a href="#">shop<i class="uk-icon-plus"></i></a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                  <li><a href="shop_wellness.html">all products</a></li>
                  <li><a href="product.html">product page</a></li>
                  <li><a href="shopping_bag.html">cart</a></li>
                  <li><a href="payment_checkout.html">checkout</a></li>
                </ul>
              </div>
            </li>
            <li class="uk-parent" data-uk-dropdown>
              <a href="#">pages<i class="uk-icon-plus"></i></a>
              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                  <li><a href="error.html">error</a></li>
                  <li><a href="comming_soon.html">comming soon</a></li>
                  <li><a href="offline.html">offline</a></li>
                </ul>
              </div>
            </li>
            <li class="header-cart" data-uk-dropdown="{pos:'bottom-center', delay: 10, remaintime: 400}">
              <a href="#"><img src="images/images_sport/cart-icon.png" alt="Shopping"></a>
              <div class="uk-dropdown">
                <ul class="aside-navigation">
                  <li class="uk-grid uk-grid-small header-cart-dropdown">
                    <div class="uk-width-1-3">
                      <img src="images/images_sport/header_cart_image_01.jpg" alt="Shopping Bag Item">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-middle">
                      <div>
                        <h5 class="h-5">Gray sweatshirt with logo</h5>
                        <div class="title-line-lg"></div>
                        <p class="uk-text-bold">$45</p>
                      </div>
                    </div>
                  </li>
                  <li class="uk-grid uk-grid-small header-cart-dropdown">
                    <div class="uk-width-1-3">
                      <img src="images/images_sport/header_cart_image_02.jpg" alt="Shopping Bag Item">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-middle">
                      <div>
                        <h5 class="h-5">White oversizet-shir</h5>
                        <div class="title-line-lg"></div>
                        <p class="uk-text-bold">$128</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <p class="uk-text-uppercase uk-text-bold uk-text-right">total: $173</p>
                <a class="uk-button btn-custom-black link-btn" href="shopping_bag.html">view bag</a>
              </div>
            </li>
            <li class="header-account"><a href="account.html/#{profile.id}"><img src="images/images_sport/account-icon.png" alt="Account"></a></li>
          </ul> -->
          <!-- main-menu end -->
   <!--        <a href="#my-offcanvas" class="uk-navbar-toggle uk-hidden-large uk-float-right" data-uk-offcanvas></a>
          <div class="uk-navbar-content uk-navbar-center"></div> -->
          <!-- offcanvas -->
<!--           <div id="my-offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
              <div class="uk-panel">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
                  <li class="uk-parent">
                    <a href="#">home<i class="uk-icon-plus"></i></a>
                    <ul class="uk-nav-sub uk-nav-parent-icon" data-uk-nav>
                      <li><a href="home_wellness.html">home wellness</a></li>
                      <li><a href="home_sport.html">home sport</a></li>
                      <li><a href="home_yoga.html">home yoga</a></li>
                    </ul>
                  </li>
                  <li><a href="about_wellness.html">about</a></li>
                  <li class="uk-parent">
                    <a href="#">classes<i class="uk-icon-plus"></i></a>
                    <ul class="uk-nav-sub uk-nav-parent-icon" data-uk-nav>
                      <li><a href="classes_wellness.html">all classes</a></li>
                      <li><a href="classes_description_wellness.html">class description</a></li>
                    </ul>
                  </li>
                  <li><a href="events_wellness.html">events</a></li>
                  <li class="uk-parent">
                    <a href="#">blog<i class="uk-icon-plus"></i></a>
                    <ul class="uk-nav-sub uk-nav-parent-icon" data-uk-nav>
                      <li><a href="blog_wellness.html">blog fullwidth</a></li>
                      <li><a href="single_post_wellness.html">blog single post</a></li>
                    </ul>
                  </li>
                  <li><a href="contact_wellness.html">contact</a></li>
                  <li class="uk-parent">
                    <a href="#">shop<i class="uk-icon-plus"></i></a>
                    <ul class="uk-nav-sub uk-nav-parent-icon" data-uk-nav>
                      <li><a href="shop_wellness.html">all products</a></li>
                      <li><a href="product.html">product page</a></li>
                      <li><a href="shopping_bag.html">cart</a></li>
                      <li><a href="payment_checkout.html">checkout</a></li>
                    </ul>
                  </li>
                  <li class="uk-parent">
                    <a href="#">pages<i class="uk-icon-plus"></i></a>
                    <ul class="uk-nav-sub uk-nav-parent-icon" data-uk-nav>
                      <li><a href="error.html">error</a></li>
                      <li><a href="comming_soon.html">comming soon</a></li>
                      <li><a href="offline.html">offline</a></li>
                    </ul>
                  </li>
                  <li class="header-cart"><a href="shopping_bag.html"><img src="images/images_sport/cart-icon-white.png" alt="Shopping"></a></li>
                  <li class="header-account"><a href="account.html"><img src="images/images_sport/account-icon-white.png" alt="Account Icon"></a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <!-- offcanvas end -->
<!--             </div>
      </nav> -->
            <!-- ===========================================================================
        HOME SLIDESHOW | WELLNESS
        ================================================================================-->
<!--       <section class="home-slideshow-wellness">
        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true, autoplayInterval: 4000}">
          <ul class="uk-slideshow">
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_01.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">well-being</h1>
                  <h3 class="uk-text-uppercase uk-text-right">overall feeling</h3>
                </div>
              </div>
            </li>
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_02.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">freedom</h1>
                  <h3 class="uk-text-uppercase">where you want</h3>
                </div>
              </div>
            </li>
            <li>
              <img class="slideshow-image" src="images/images_wellness/slider_01.jpg" alt="Slide Image">
              <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-left">
                <div class="slider-header-group">
                  <h1 class="uk-text-uppercase">well-being</h1>
                  <h3 class="uk-text-uppercase uk-text-right">overall feeling</h3>
                </div>
              </div>
            </li>
          </ul>
          <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
            <li data-uk-slideshow-item="0"><a href=""></a></li>
            <li data-uk-slideshow-item="1"><a href=""></a></li>
            <li data-uk-slideshow-item="2"><a href=""></a></li>
          </ul>
        </div>
      </section> -->
      <!-- / SLIDESHOW END -->


<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
